# Dependencies
node_modules
.npm-cache

# Next.js
.next
out

# Build
dist

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Drizzle
drizzle/meta

# Debug
*.local

# Claude
.claude/
